:root{
--White: hsl(0, 0%, 100%);
--Light--gray: hsl(212, 45%, 89%);
--Grayish--blue: hsl(220, 15%, 55%);
--Dark--blue: hsl(218, 44%, 22%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body , html{
    overflow: hidden;
    background-color:var(--Light--gray);
    height: 100vh;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:375px) {

    .content{
        min-width: 90vw;
        width: 85%;
        min-height: 60vh;
        background-color: var(--White);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 0.625rem;
    }
/* HEADER */
    .header{
        flex-basis: 18.75rem;
        
    }
    .header__contimg{
        text-align: center;
    }
    .header__img{
        width: 90%;
        border-radius: 0.625rem;
    }
/* HEADER */

/* TITLE */
.banner{
    margin-top: -30px;
    text-align: center;
    width: 90%;
}
.banner__title{
    font-weight: 700;
    line-height: 130%;
    color:var(--Dark--blue) ;
}
/* TITLE */

/* paragraph */
.paragraph{
    margin-top: -40px;
    text-align: center;
    width: 80%;
    font-size: 15px;
    color: var(--Grayish--blue);
}
}

/* DESKTOP */
.content{
       width: 35%;
       min-height: 45rem;
       height: 70vh;
    background-color: var(--White);
    border-radius:0.625rem;
   }
/* HEADER */
   .header__contimg{
       text-align: center;
       padding: 1.875rem;
   }
   .header__img{
       border-radius: 0.625rem;
       width: 75%;
   }
/* HEADER */

/* BANNER */
.banner{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__title{
    font-size: 2rem;
    width: 75%;
}
/* BANNER */

/* paragraph */
.paragraph{
    text-align: center;
    font-size: 1.5rem;
    color: var(--Grayish--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 ;
}

.paragraph__paragraph{
    width: 80%;
}
